Button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}


@media only screen and (max-width: 500px) {

    .control {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*section one*/

    .sectionseat {
        flex-wrap: wrap;
        gap: 10px;
        width: 80vw;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seat {
        background: #C3CFD9;
        border: 1px solid #808F9D;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seatnumber {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.04em;
    }

    .selected {
        background: #8DD7CF;
        border: 1px solid #1AAE9E;
    }

    .seatred{
        background-color: red;
    }

    .close {
        background: #FBE192;
        border: 1px solid #F7C52B;
    }

    /*section two*/

    .seattypes {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    .type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seattext {
        margin-top: 5px;
        color: #4E5A65;
    }

    /*section two*/

    .seactionbuy {
        margin-top: 42px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #293845;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .name,
    .cpf {
        margin-top: 5px;
        margin-bottom: 5px
    }

    .inputtext {
        border: 1px solid #D5D5D5;
        border-radius: 3px;
        height: 51px;
        width: 70vw;
        padding-left: 10px;
    }


    .inputtext::placeholder {
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 0;
        color: #AFAFAF;
        padding-left: 10px; 

    }

    .buttonseat {
        background: #E8833A;
        border-radius: 3px;
        height: 42px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
        width: 50vw;
    }

    .buttonseat>p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
    }

}